* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #eeeeee; /* Light paper color */
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#ui {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Courier New', Courier, monospace;
    pointer-events: none;
    color: #222;
    z-index: 10;
}
